* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.main-content {
    width: 85%;
    background-color: #F3F3F3;
    padding: 20px;
}

.top-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topic-model-name {
    background-color: #F25757;
    padding: 20px;
    font-size: 24px;
    color: white;
    width: 70%;
    text-align: center;
    margin-top: 50px;
}

.topic-model-name:hover{
    width: 90%;
}

.contact-us {
    font-size: 30px;
    align-self: self-end;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    margin-top: 50px;
}

.box {
    padding: 20px;
    color: white;
    text-align: center;
}

.model-design {
    background-color: #833939;
}

.model-design:hover{
       width: 105%;
}

.about-model {
    background-color: #6E33A7;
}

.about-model:hover{
    width: 105%;
}

.scrollable {
    background-color: #8A7DC6;
}

.scrollable:hover{
    width: 105%;
}

.functions {
    background-color: #38C4A5;
}

.functions:hover{
    width: 105%;
}
